name: "CI"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
        
      - uses: extractions/setup-just@v3

      - name: Build CI Docker
        run: just build-ci-docker $(id -u)

      - name: Check Format
        run: just format

      - name: Run tests
        run: just test

      - name: Lint code
        run: just lint

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: ./coverage.xml
          junitxml-path: ./pytest.xml
